.contactWrapper {
    background-color: rgb(36, 34, 34);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
}

.contactContainer {
    height: 150px;
    grid-column: 2 / 3;
}


.btnContact {
    background-color: transparent;
    border: 2px solid rgb(216, 213, 56);
    color: rgb(216, 213, 56);
    padding: 21px 34px;
    outline: none;
    letter-spacing: .13em;
    margin: 20px 0 0 0;
    transition: 1s;
}

.btnContactOff {
    background-color: rgb(216, 213, 56);
    color: white;
    padding: 21px 34px;
    outline: none;
    letter-spacing: .13em;
    margin: 20px 0 0 0;
    border: 2px solid rgb(216, 213, 56);
    transition: 1s;
}


.hide_Container {
    height: 0;
    width: 100%;
    margin: 0 0 20px 0;
    grid-column: 2 / 3;
    border: .5px solid rgb(216, 213, 56); 
    transition: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.show_Container {
    position: absolute;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    height: 270px;
    border: 2px solid rgb(216, 213, 56); 
    width: 100%;
    overflow-y: hidden;
    grid-column: 2 / 3;
    position: relative;
    margin: 0 0 20px 0;
}


.infoBox{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 5px;
    align-items: center;
}

@media only screen and (max-device-width: 900px) {
    .contactWrapper {
  
        grid-template-columns: .2fr 7fr .2fr;
  
    }
  }