body {
  margin: 0;
}

.slider {
position: relative;
height: 200px;
overflow: hidden;
text-align: center;
}

.slide {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
opacity: 0;

}

.slide_active {
  opacity: 1; 
  transition: all 1.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image{ 
  position: absolute;
  object-fit: cover;
  
}
