.AboutContainer {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-auto-rows: minmax(100px, auto);
}

#presentationText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: white;
  padding: 200px 40px 0 40px;
}

.PictureBox{
  background-color: rgb(36, 34, 34);
    grid-column: 1 / 2;
    height: 600px;
    overflow: hidden;
}

.PresentationBox{
    background-color: black;
    grid-column: 2 / 3;
  
}

.PictureBox2{
    background-color: rgb(36, 34, 34);
    grid-column: 2 / 3;
    grid-row: 2;
    height: 600px;
    text-align: right;
    overflow: hidden;
}

.PresentationBox2{
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 2;
}

.imageSchool {
  height: 105%;
  width: 80%;
}

.imagePortrait {
  height: 100%;
  width: 85%;
}

@media only screen and (max-device-width: 800px) {
    
  .AboutContainer {
    grid-auto-columns: auto;
    width: 100%;
    }

  .PictureBox {
    grid-auto-columns: auto;
    grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
    height: 300px;
    }
  
  .PresentationBox {
    grid-auto-columns: auto;
    width: 100%;
    grid-row: 2;
    grid-column: 1 / 3;
    }
  
  .imagePortrait {
    width: 75%;
    }

  .PictureBox2 {
    grid-auto-columns: auto;
    width: 100%;
    grid-row: 3;
    grid-column: 1 / 3;
    text-align: center;
    height: 300px;
    }
    
  .PresentationBox2 {
    grid-auto-columns: auto;
    grid-row: 4;
    grid-column: 1 / 3;
    }
    
  .imageSchool {
    width: 75%;
    }

    #presentationText{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 17px;
      color: white;
      padding: 60px 40px 60px 40px;
    }

  }
