#rubrik {
    text-align: center;
    padding-top: 70px;
}

#rubrikText {
    font-size: 55px;
    letter-spacing: 17px;
    font-family: 'Bebas Neue', sans-serif;
}

#educationText {
    padding: 30px 50px 30px 50px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;

}

.listContainer {
    padding: 0 0 50px 50px;
}

#content {
    overflow: hidden;
}

ol li {

    padding-top: 20px;
    margin-bottom: -20px;
    font-weight: bold;
    height: 60px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

ol li::before {
    /*
    content: "ᐯ"; */
    padding-right: 10px;
    vertical-align: 18%;
    content: "■";
    color: rgb(216, 213, 56);
    font-weight: bold;
    font-size: 80%;
  }

  .descriptionBox {
      padding-left: 23px;
  }

  #descText {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }

@media only screen and (max-device-width: 900px) {

    #educationText {
        padding: 30px 18px 30px 18px;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    
    }

    #rubrikText {
        font-size: 35px;   
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 14px;
    
    }

    .listContainer {
        padding: 0 0 18px 18px;
        overflow: hidden;
    }

    ol li {
        padding-top: 20px;
        margin-bottom: -10px;
        height: 40px;
        font-size: 19px;
        font-family: 'Lato', sans-serif;
    }
    
    ol li::before {
        content: "■"; 
        color: rgb(216, 213, 56);
        font-weight: bold;
        font-size: 80%;
      }

      .descriptionBox {
        padding-left: 20px;
    }

  }