.footerWrapper {

    background-color: rgb(36, 34, 34);
    text-align: center;
}

p {
    color: rgb(109, 109, 109);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}